body {
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

header, nav, main, aside, footer {
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover{
    color: #ff0000;
}

img {
    max-width: 100%;
    border: 1px solid #ddd;
}

/* Header Styles */
#main-header {
    background-color: #333;
    text-align: center;
    padding: 20px;
}

#main-header h1 {
    margin: 0;
    font-size: 32px;
}

#main-header p {
    font-size: 16px;
    margin-top: 10px;
}

#main-footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

/* Content Styles */
.content-article {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.content-article h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.content-article p {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

/* Sidebar Styles */
#sidebar {
    background-color: #6629b6;
    padding: 20px;
}

#sidebar h2 {
    color: #333;
    font-size: 24px;
}

.exercise5 .container {
    display: flex;
}

/* Main Content Styles */
.exercise5 .main-content {
    flex: 2;
    padding: 20px;
}

.exercise5 #main-footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

/* Sidebar Styles */
.exercise5 .sidebar {
    flex: 1;
    background-color: #cf1a1a;
    padding: 20px;
}

.exercise5 .box {
    background-color: #e20e0e;
    border: 1px solid #5826ce;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.exercise5 .box p {
    flex: 1;
    margin: 10px 0;
}

@media (max-width: 768px) {
    body.exercise5 {
        flex-direction: column;
    }

    main.exercise5, aside.exercise5 {
        flex: 1;
    }
}